:root {
    --primary-color: #fff;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {

    width: 100vw;
    height: 100vh;
    background-image: url(images/space.jpg);

    background-position: center;
    background-size: cover;
    padding: 0 10%;
    position: relative;
    color: var(--primary-color);
}

.logo {
    width: 200px;
    padding: 20px 0;
    margin-top: 20px;
    cursor: pointer;
}

.content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 20px;
}

.content h1{
    font-size: 3.5rem;
    padding-bottom: 20px;
 
}
.content p{
    font-size: 1.1rem;
}

.counter_container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* border: 1px solid rgb(0, 0, 0); */
    padding-bottom: 30px;

}

.counter_container div {
    display: flex;
    /* border: 1px solid rgb(255, 255, 255); */
    flex-direction: column;   
}
.counter_text {
    font-size: 2.5rem;
}
.counter_heading {
    font-size: 0.9rem;
    padding-left: 2px;
}

.astro {
    width: 40vh;
    position: absolute;
    top: 0;
    left: 850px;
    animation: move 2.6s linear infinite;
}
 @keyframes move {
    0% {
        transform: translate(-10px, 0px);
    }
    50% {
        transform: translate(0px, -10px);
    }
    100% {
        transform: translate(-10px, 0px);
    }
 }

.email_btn {
    width: 150px;
    padding: 10px 30px;
    border: 1px solid rgb(255, 255, 255);
    margin-bottom: 20px;
    cursor: pointer;
}

.socials {
    padding-top: 30px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}

.remove_style {
    text-decoration: none;
    color: #fff;
}

@media (min-width: 300px) and (max-width: 600px) {
    .container {
        width: 100vw;
        height: 100vh;
        background-image: url(/images/space.jpg);
        background-position: center;
        background-size: cover;
        padding: 0 10px;
        position: relative;
        color: var(--primary-color);
    }
    
    .logo {
            width: 50%;
            margin-top: 20px;
            padding: 10px;
            cursor: pointer;
        }
    
        .content {
            top: 50%;
            transform: translateY(-50%);
            padding-left: 20px;
        }
        
        .content h1{
            font-size: 1.4rem;
            padding-top: 10px;
         
        }
        .content p{
            padding-top: 10px;
            font-size: 0.8rem;
        }

        .counter_container div {
            display: flex;
            /* border: 1px solid rgb(255, 255, 255); */
            flex-direction: column;
            
        }
        .counter_text {
            font-size: 1.3rem;
        }
        .counter_heading {
            font-size: 0.7rem;
            padding-left: 2px;
        }

        .astro{
            width: 20vh;
            position: absolute;
            top: 200px;
            left: 230px;
            animation: move 2.6s linear infinite;
            padding-right: 30px;
        }
         @keyframes move {
            0% {
                transform: translate(-10px, 0px);
            }
            50% {
                transform: translate(0px, -10px);
            }
            100% {
                transform: translate(-10px, 0px);
            }
         }
         .email_btn {
            width: 120px;
            padding: 5px 15px;
            border: 1px solid rgb(255, 255, 255);
            margin-bottom: 10px;
            cursor: pointer;
            font-size: 0.9rem;
        }
  }


  @media (min-width: 601px) and (max-width: 1000px) {
    .logo {
        width: 40%;
        margin-top: 20px;
        padding: 10px;
        cursor: pointer;
    }

    .content {
        width: 80vw;
        top: 50%;
        transform: translateY(-50%);
        padding-left: 20px;
    }
    
    .content h1{
        font-size: 2.8rem;
        padding-top: 10px;
     
    }
    .content p{
        padding-top: 10px;
        font-size: 1.5rem;
    }

    .counter_container div {
        display: flex;
        /* border: 1px solid rgb(255, 255, 255); */
        flex-direction: column;
        
    }
    .counter_text {
        font-size: 2.2rem;
    }
    .counter_heading {
        font-size: 1.2rem;
        padding-left: 2px;
    }

    .astro{
        width: 20vh;
        position: absolute;
        top: 250px;
        left: 480px;
        animation: move 2.6s linear infinite;
        padding-right: 30px;
    }
     @keyframes move {
        0% {
            transform: translate(-10px, 0px);
        }
        50% {
            transform: translate(0px, -10px);
        }
        100% {
            transform: translate(-10px, 0px);
        }
     }
     .email_btn {
        width: 150px;
        padding: 10px 30px;
        border: 1px solid rgb(255, 255, 255);
        margin-bottom: 20px;
        cursor: pointer;
    }

}